<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="pull-right">
            <nav class="navbar" style="background:transparent; color: black;">
                <nav class="nav navbar-nav pull-xs-left">
                    <a class="nav-item nav-link" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">About</a>
                    <a class="nav-item nav-link" href="#">Download App</a>
                    <a class="nav-item nav-link" href="#">Help</a>
                </nav>
            </nav>
        </div>
         <div class="center">
                        <ul class="social-network social-circle">
                            <li><a href="https://vk.com/sasha1737" class="icoTwitter" title="Twitter"><i class="fa fa-vk"></i></a></li>
                            <li><a href="https://t.me/joinchat/GqVKJE-UH5j6X6HZ5hyz4Q" class="icoGoogle" title="Google +"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="https://www.instagram.com/sasha_sidorevich/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                        </ul>
                    </div>

{#        <a href="https://vk.com/sasha1737"><i class="fa fa-facebook-official fa-2x"></i></a>#}
{#        <a href="https://vk.com/sasha1737"><i class="fa fa-pinterest-p fa-2x"></i></a>#}
{#        <a href="https://vk.com/sasha1737"><i class="fa fa-twitter fa-2x"></i></a>#}
{#        <a href="https://vk.com/sasha1737"><i class="fa fa-vk fa-2x"></i></a>#}
{#        <a href="https://vk.com/sasha1737"><i class="fa fa-linkedin fa-2x"></i></a>#}


    </div>
</footer>