html, body {
    height: 100%;
    max-height: 100%;
    font-family: "Roboto", sans-serif;
}

.top-container {
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: black white;
    border-style: solid;
}

form > * {
    margin-right: 20px;
}

.general-container {
    margin-bottom: 3%;
}

.pagination {
    margin: 0;
    font-weight: bold;
}

/*#tooltip {*/
/*    z-index: 9999;*/
/*	position: absolute;*/
/*	display: none;*/
/*	top:0px;*/
/*	left:0px;*/
/*	background-color: #000;*/
/*	padding: 5px 10px 5px 10px;*/
/*	color: white;*/
/*	opacity: 0.6;*/
/*	border-radius: 5px;*/
/*}*/