{% extends 'base.html' %}
{% load static %}
{% block title %}
    Домашняя страница
{% endblock title %}
{% block form %}
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">

                    {% for el in topics %}

                        <div class="alert alert-info" role="alert">
                            Тест по теме <a href="{% url 'topic:topic' el.id%}"
                                            class="alert-link">{{ el.topic }}</a>.
                        </div>

                    {% endfor %}
                </div>
            </div>
{% endblock %}
