{% extends 'base.html' %}
{% load static %}
{% block form %}
    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    {% for el in question %}
                        <div class="alert alert-info" role="alert">
                            {{ el.question }}
                        </div>
                        <form action="" method="post">
                        {% csrf_token %}
                        {% for answer in answers %}

                            <div class="form-check">
                            {% if is_one_choice %}
                                <input class="form-check-input" type="radio" value="{{ answer.id }}"
                                       id="defaultCheck1" name="answer">
                                <label class="form-check-label" for="defaultCheck1">
                                    {{ answer }}
                                </label>
                            {% else %}
                                <input class="form-check-input" type="checkbox" value="{{ answer.id }}"
                                       id="defaultCheck1" name="checkbox">
                                <label class="form-check-label" for="defaultCheck1">
                                    {{ answer }}
                                </label>
                            {% endif %}
                            </div>
                        {% endfor %}
                        <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary orange-button">Отправить</button>
                                </div>
                            </div>
                        </form>
                    {% endfor %}

                </div>
            </div>
        {% include 'pagination.html' with page=question %}
        </div>

    </div>
{% endblock %}