{% extends 'base.html' %}
{% load static %}
{% block form %}
    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2">
                    {% for el in question %}
                        <div class="alert alert-info" role="alert">
                            {{ el.question }}
                        </div>
                        {% for answer in answers %}

                            <div class="form-check">
                            {% if is_one_choice %}
                                <input class="form-check-input" type="radio" value="{{ answer.id }}"
                                       id="defaultCheck1" name="answer">
                                <label class="form-check-label" for="defaultCheck1">
                                    {{ answer }}
                                </label>
                            {% else %}
                                <input class="form-check-input" type="checkbox" value="{{ answer.id }}"
                                       id="defaultCheck1" >
                                <label class="form-check-label" for="defaultCheck1">
                                    {{ answer }}
                                </label>
                            {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'pagination.html' with page=question %}
{% endblock %}